/* {{ name }} by {{ author }} */

.default {
    content: "{{ name }}";
}

.default-without-spaces {
    content: "{{name}}";
}

.default-without-spaces {
    content: "{{ name}}";
}

.default-without-spaces {
    content: "{{name }}";
}