/* postcss-replace by Gridonic <hello@gridonic.ch> */

.default {
    content: "postcss-replace";
}

.default-without-spaces {
    content: "postcss-replace";
}

.default-without-spaces {
    content: "postcss-replace";
}

.default-without-spaces {
    content: "postcss-replace";
}
